.navbar {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
  padding-right: 20px;
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
  position: relative;
  /* box-shadow: 0px 5px 5px #cccccc; */
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.navbar .user-container {
  z-index: 10;
  display: flex;
  gap: 12px;
  align-items: center;
}

.navbar .name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.navbar .user-fullname {
  color: var(--Main-Dark, #01001a);
  text-align: right;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.navbar .username {
  color: #83828c;
  text-align: right;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.navbar .navbar_icons {
  color: #512da8;
  font-size: 16px;
  margin-top: 0px;
}

.navbar .navbar_button_icons {
  color: #9575cd;
  font-size: 20px;
}

.navbar .navbar_button {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  fill: url(<path-to-image>) lightgray 50% / cover no-repeat;
  border-radius: 50%;
  border: 1px solid gray;
}

.navbar .button-icon {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 46px;
  width: 260px !important;
  right: 20px;
  display: block;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  z-index: 1000;
  padding: 10px;
}

.d-none {
  display: none;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  color: #364963;
  align-items: center;
}

.dropdown-item:hover {
  background-color: #eee9f6;
}

.dropdown-item i {
  color: #512da8;
  margin-right: 10px;
  width: 20px;
}

.dropdown-item:first-child {
  cursor: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #512da8;
}

.dropdown-item:first-child:hover {
  color: #512da8;
  background-color: #ffffff;
}

.dropdown-menu hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.language_select {
  width: 80px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 4px;
  margin-left: 40px;
}
