@import url(../fonts/index.scss);

.main_content {
  overflow-y: scroll;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.o_action_manager {
  /* height: calc(100% - 324px); */
  /* max-height: fit-content !important; */
  z-index: 0;
  margin-top: 50px;
  /* overflow-y: auto; */
}

.o_sidebar_view {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-right: 1px solid #ddd;
  min-height: 100vh;
  max-height: 120%;
  width: 270px;
  display: flex;
  flex-direction: column;
  min-width: 60px;
  overflow-y: scroll;
  transition: width 0.15s ease;
  z-index: 4;
  margin-bottom: 200px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.o_sidebar_view::-webkit-scrollbar {
  opacity: 0;
}

.o_sidebar_view.collapsed {
  width: 45px;
}

.o_sidebar_view::-webkit-scrollbar {
  opacity: 0;
}

.o_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  width: 100%;
  background-color: #01003c;
  border-bottom: 1px solid var(--white-white-10, rgba(255, 255, 255, 0.1));
  color: #fff;
}

.o_container_collapse {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #01003c;
  border-bottom: 1px solid var(--white-white-10, rgba(255, 255, 255, 0.1));
}

.sidebar-title {
  color: #fff;
}

.sidebar-toggle {
  width: 30px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #fff;
}

.sidebar-open {
  display: grid;
  grid-template-columns: 270px auto;
  height: 100%;
}

.sidebar-close {
  display: grid;
  grid-template-columns: 60px auto;
  height: 100%;
}

.sidebar_menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #01002e;
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu-item {
  display: flex;
  flex-direction: column;
  transition: all 0.15s ease;
}

.submenu-item {
  padding: 10px 10px 10px 0px;
  display: flex;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 0px;
}

.submenu-item a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: -10px;
}

.submenu-item .menu-link-content {
  color: #83828c;
}

.submenu-subitem {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 0px 10px 10px;
}

.menu_icon {
  /* margin-right: 5px; */
  padding: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b2b2c0;
}

.menu-link {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  cursor: pointer;
  padding: 10px 10px 10px 5px;
  font-size: 14px;
}

.menu-link-content {
  display: flex;
  align-items: center;
  padding-left: -10px;
  font-size: 14px;
}

.menu-link.active .menu-link-content {
  color: #fff !important;
  font-weight: 600;
}

.menu-link.active .menu_icon {
  color: #fff;
  font-weight: 600;
}

.menu-link .menu-link-content {
  color: #b2b2c0;
}

.menu-link-content.visible,
.menu-link-content.visible .up-down-icon {
  color: #fff;
}

.menu-link a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  color: #b2b2c0;
}

.submenu {
  display: none;
  padding-left: 10px;
}

.menu-item.visible {
  background: var(--white-white-10, rgba(255, 255, 255, 0.1));
}

.menu-item.visible .menu-link {
  color: #fff;
}

.submenu.visible {
  display: block;
  padding: 0;
  text-indent: 45px;
  font-size: 14px;
}

.submenu.visible .submenu-subitem a {
  padding-left: 20px;
  text-indent: 20px;
}

.submenu.visible .submenu-subitem a.active {
  color: #fff;
  font-weight: 600;
}

.submenu-item a {
  color: #83828c;
}

.submenu-item a.active {
  color: #fff;
  font-weight: 600;
}

.submenu_item_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submenu_item_container.visible .menu-link-content,
.submenu_item_container.visible .up-down-icon {
  color: #fff !important;
  font-weight: 600;
}

.menu-item.sidebar:hover .menu-link-content span {
  display: flex !important;
  align-items: center;
  justify-content: start;
  text-indent: 10px;
  position: absolute;
  left: 60px;
  z-index: 10;
  width: 200px;
  height: 40px;
  background-color: #01002e;
}

.menu-item.sidebar:hover .submenu.hidden {
  display: flex !important;
  flex-direction: column;
  text-indent: 10px;
  position: absolute;
  left: 60px;
  z-index: 10;
  width: 200px;
  height: fit-content;
  background-color: #01002e;
  max-height: 600px;
  overflow-y: scroll;
}

.menu-item.sidebar:hover .submenu.hidden a {
  padding-left: 0px;
  padding-bottom: 0px;
  text-indent: 10px !important;
}

.menu-item.sidebar:hover .submenu-item a {
  font-size: 14px;
}

.span_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #b2b2c0;
}
.span_container.visible {
  color: #fff;
  font-weight: 600;
}
