.accounting-header {
  display: flex;

  p {
    color: var(--Main-Dark, #01001a);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 28.8px */
  }
}

.accounting-data {
  margin-top: -15px;
  border-radius: 4px;
  padding: 10px;
  background: var(--Main-White, #fff);
  box-shadow:
    0px 3px 5px 0px rgba(9, 30, 66, 0.2),
    0px 0px 1px 0px rgba(9, 30, 66, 0.31);

  .content-header {
    border-bottom: 3px solid #f4f5f7;
    display: flex;
    align-items: center !important;
    margin-bottom: 0px;
    height: 56px !important;

    ul {
      display: flex;
      gap: 15px;
      list-style: none;
      align-items: center;
      margin-top: 15px;

      li span {
        cursor: pointer;
        color: var(--Greys-Grey-1, #6b778c);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }

      li span.active {
        position: relative;
        color: var(--Main-Dark, #01001a);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }

      li span.active::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: #8d3fff;
        position: absolute;
        bottom: -22px;
        left: 0;
      }
    }
  }

  .accounting-months {
    margin-top: 20px;
    display: flex;
    flex: 1;
    gap: 8px;

    .quarter {
      flex: 1;
      padding: 15px 8px;
      border-radius: 4px;
      background: #fafafc;

      p {
        padding: 5px 12px;
        color: var(--Main-Dark, #01001a);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
      }

      hr {
        background: var(--Greys-Grey-6, #f4f5f7);
        height: 2px;
      }

      .months {
        border-radius: 3px;
        border: 1px solid var(--Greys-Grey-5, #ebecf0);
        background: var(--White-White, #fff);
        min-width: 200px;
        min-height: 150px;
        padding: 8px;

        .month-name {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: Inter !important;
          .month-inactive {
            color: var(--Greys-Grey-1, #6b778c);
            font-family: Inter !important;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            /* 18.2px */
          }

          .month-active {
            color: var(--Main-Dark, #01001a);
            font-family: Inter !important;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
          }
        }

        hr {
          margin: 0;
          padding: 0;
          background: var(--Greys-Grey-5, #ebecf0);
        }

        .month-no-data {
          height: 100px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            color: var(--Greys-Grey-1, #6b778c);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            /* 18.2px */
          }
        }

        .month-data {
          height: 125px;
          width: 100%;
          display: flex;
          flex-direction: column;

          h5 {
            padding: 12px 0;
            color: var(--Greys-Grey-0, #364662);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
          }

          .data-stats {
            width: 100%;
            height: 66px;
            border-radius: 4px;
            padding: 4px 8px;
            background: rgba(141, 63, 255, 0.04);

            .stats {
              display: flex;
              align-items: center;
              justify-content: space-between;

              span {
                color: var(--Main-Dark, #01001a);
                text-align: center;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
              }

              h4 {
                color: var(--Greys-Grey-0, #364662);
                text-align: center;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
              }
            }

            hr {
              background: var(--Greys-Grey-5, #ebecf0);
            }
          }
        }
      }

      .active-month {
        border-radius: 4px;
        border: 1px solid var(--Main-Purple, #8d3fff);
        background: var(--White-White, #fff);
      }
      .inactive-month {
        pointer-events: none;
      }
    }
  }
}
