.front-desk-booking {
  // width: 100% !important;
  scroll-behavior: smooth !important;
  .page-title {
    color: var(--Main-Dark, #01001a);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 31.2px */
  }

  .page-process-tabs {
    display: flex;
    align-items: center;

    .process-tab {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 15px !important;
      background-color: #8d3fff;
      margin: 0 !important;
      border-radius: 5px;

      p {
        color: var(--greys-grey-0-neutral, #eeeeee);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 171.429% */
      }

      span {
        padding: 4px 9px;
        border-radius: 50%;
        background-color: #eeeeee;
        color: #01001a;
        font-family: Inter;
      }
    }

    .process-tab-disable {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 15px !important;
      border: 1px solid #8d3fff;
      background-color: aliceblue;
      margin: 0 !important;
      border-radius: 5px;

      p {
        color: var(--greys-grey-0-neutral, #8d3fff);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 171.429% */
      }

      span {
        padding: 4px 9px;
        border-radius: 50%;
        background-color: #8d3fff;
        color: #fff;
        font-family: Inter;
      }
    }
  }

  .front-booking-form {
    display: flex;
    flex-direction: column;
    // max-width: 1350px;
    // min-width: 1180px;
    border-radius: 4px;
    background: var(--Main-White, #fff);

    .booking-title {
      color: var(--Main-Dark, #01001a);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      /* 26px */
    }
    p,
    select {
      font-family: Inter;
    }

    .d-flex {
      .check-title {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        // text-wrap: nowrap;
        width: 300px;
        // margin-right: 30px;
        /* 20.8px */
      }

      input,
      label {
        font-family: Inter;
      }

      input {
        outline: none;
      }

      select {
        padding: 0.5rem;
        /* Add general padding */
        padding-right: 2rem;
        /* Add extra padding to the right for the arrow */
        -webkit-appearance: none;
        /* Remove default arrow in WebKit browsers */
        -moz-appearance: none;
        /* Remove default arrow in Firefox */
        appearance: none;
        /* Remove default arrow in other browsers */
        background: url("../../description/bottom.svg") no-repeat right center;
        // background-size: 8px 4px; /* Adjust size of the custom arrow */
      }

      .night {
        width: 350px;
        margin-left: 100px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
      }

      .person-select {
        width: 150px;
      }

      .plan-select {
        width: 400px;
        font-family: Inter;
        outline: none;
      }

      .input-field {
        padding: 8px 32px 8px 8px;
        border-radius: 0.25rem;
        border: 1px solid #ced4da;
      }

      .check-info {
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-decoration: underline;
        text-decoration-style: dashed;
        text-underline-offset: 2px;
      }

      input.type-email {
        padding: 0.5rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("../../description/mail.svg") no-repeat right center;
      }

      .info-icon {
        width: 20px;
        height: 20px;
        border: 1px solid grey;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: grey;
        margin-top: 15px;
        margin-left: 15px;
        cursor: pointer;
        position: relative;

        &:hover::before {
          // width: 100px;
          content: attr(data-title);
          font-family: Inter;
          position: absolute;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
          background-color: black;
          color: white;
          padding: 5px;
          white-space: nowrap;
          font-size: 12px;
          margin-bottom: 5px;
          z-index: 10;
          // max-width: 350px !important; /* Limit the width to control the tooltip size */
          // text-align: center;
          // text-wrap: wrap;
        }

        &:hover::after {
          content: "";
          font-family: Inter;
          position: absolute;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
          border-width: 5px;
          border-style: solid;
          border-color: black transparent transparent transparent;
          margin-bottom: 1px;
          z-index: 10;
        }
      }
      .guest-comment {
        font-size: 10px;
        font-family: Inter;
      }
      textarea {
        height: 70px;
        resize: none;
      }

      .checkbox-form {
        width: 20px;
        height: 20px;
        background-color: red;
      }

      .check-time-sum {
        font-family: Inter;
        color: #8d3fff;
        font-weight: 600;
        font-size: 13px;
        line-height: 130%;
        text-decoration: underline;
        text-decoration-style: dashed;
        text-underline-offset: 2px;
        margin-top: 15px;
        margin-left: 15px;
      }
    }

    .booking-info-details {
      height: 40px;
      background-color: #e4e4e4;
      display: flex;
      align-items: center;
      padding-left: 20px;
      font-family: Inter;
    }

    .price-details {
      color: #01001a;
      font-family: Inter;
      font-size: 16px;

      table {
        margin-top: -15px;

        thead {
          padding-left: 15px;
          height: 40px;
          background-color: #e4e4e4;
          border: 1px solid #e4e4e4;
        }

        tbody {
          border: 1px solid #e4e4e4;

          tr {
            height: 40px;
          }
        }
      }
    }
  }

  .action-btns {
    .back-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 100px;
      height: 40px;
      border-radius: 20px;
      border: 1px solid #4f03c3;
      color: #4f03c3;
      font-family: Inter;
      cursor: pointer;
    }

    .next-btn {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 150px;
      height: 40px;
      border-radius: 20px;
      background-color: #4f03c3;
      color: #fff;
      font-family: Inter;
    }
    button:disabled {
      cursor: not-allowed;
    }

    .btn-disabled {
      width: 150px;
      height: 40px;
      border-radius: 20px;
      pointer-events: none;
      opacity: 0.4;
    }
  }
}

.user-none {
  user-select: none;
}
