.occupancyChart-container {
  width: 100%;
  height: 400px;
}

.occupancyChart {
  width: 100%;
  height: 400px;
  margin-top: 10px;
}

.headerOfChart {
  border-bottom: 1px solid #ebecf0;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.8px;
}
