//style for input,textarea,select

#customer_company_id_0,
#agent_company_id_0,
#first_name_0,
#last_name_0,
#middle_name_0,
#email_0,
#phone_0,
#point_of_sale_0,
#market_segment_0,
#payment_method_0,
#purpose_of_visit_0,
#staff_0,
#guest_status_0,
#guest_comment_0,
#dates_of_stay_to_0,
#adult_id_0,
#group_name_0,
#profile_id_0,
#check_in_date_0,
#check_in_time_0,
#guest_id_0,
#reception_id_0,
#reason_0,
#text_0,
#comment_0,
#country_id_0,
#channel_agent_0,
#new_accommodation_id_0,
#new_check_in_date_0,
#name_0,
#company_name_0,
#company_phone_0,
#company_email_0,
#fax_0,
#address_0,
#zip_address_0,
#name_legal_entity_0,
#legal_name_0,
#bank_name_0,
#SWIFT_0,
#correspondent_name_0,
#correspondent_swift_0,
#correspondent_account_0,
#building_id_0,
#number_0,
#dates_of_stay_from_0,
#building_name_0,
#comment_for_guest_0,
#citizenship_0,
#city_0,
#country_id_1,
#region_0,
#street_0,
#district_0,
#city_1,
#settlement_0,
#home_0,
#corpus_0,
#apartment_0,
#birthday_country_0,
#birthday_city_0,
#degree_of_kinship_0,
#series_0,
#series_num_0,
#date_of_issue_0,
#end_of_issue_0,
#end_of_issue_0,
#given_by_0,
#fullname_0,
#fullname_inlatin_0,
#jobtitle_inlatin_0,
#job_title_0,
#number_of_rooms_0,
#rooms_0,
#room_code_0,
#area_m_0,
#room_description_0,
#beds_1,
#window_view_0,
#wm_mail_copies_0,
#welcome_mail_0,
#fb_mail_copies_0,
#feedback_mail_0,
#incomplete_booking_guest_0,
#ip_mail_copies_0,
#incomplete_booking_property_0,
#email_from_0,
#subject_0,
#price_0,
#discount_id_0,
#value_0,
#booking_unique_0,
#adults_0,
#discount_0,
#check_out_0,
#group_booking_id_0,
#date_of_stay_0,
#check_in_0,
#guest_0,
#amount_0,
#services_0,
#to_be_refunded_0,
#payment_date_0,
#payment_0,
#invoice_id_0,
#refund_0,
#beds_0,
#extra_beds_0,
#guests_0,
#guest_full_name_0,
#dates_of_stay_0,
#total_deposit_0,
#booking_number_0,
#check_out_date_0,
#type_id_0,
#name_in_english_0,
#postal_code_0,
#state_id_0,
#city_id_0,
#house_number_0,
#building_0,
#construction_0,
#littera_0,
#latitude_0,
#longitude_0,
#get_directions_0,
#email_for_guests_0,
#email_for_notifications_0,
#additional_email_0,
#main_phone_0,
#main_comment_0,
#phone_1_0,
#comment_1_0,
#phone_2_0,
#comment_2_0,
#phone_3_0,
#comment_3_0,
#opening_note_0,
#closing_note_0,
#at_check_in_0,
#bank_card_guarantee_0,
#bank_transfer_for_individuals_0,
#bank_transfer_for_legal_entities_0,
#at_check_in_description_0,
#bank_card_guarantee_description_0,
#bank_transfer_for_individuals_description_0,
#bank_transfer_for_legal_entities_prepayment_comment_0,
#heading_0,
#benefits_0,
#description_0,
#time_0,
#valid_till__0,
#percent_0,
#value_uzs_0,
#value_rub_0,
#role_id_0,
#valid_from__0,
#value_usd_0,
#number_of_days_hours_0,
#arrival_dates_from_0,
#arrival_dates_to_0,
#service_price_usd_0,
#service_price_uzs_0,
#service_price_rub_0,
#dissplay_website_description_0,
#group_of_services_0,
#promo_code_0,
#used_0,
#prefix_0,
#length_0,
#transfer_type_0,
#station_id_0,
#transport_company_0,
#capacity_0,
#usd_0,
#uzs_0,
#rub_0,
#transfer_type_id_0,
#region_id_0,
#age_from_0,
#age_to_0,
#start_date_0,
#stop_date_0,
#rate_plan_name_0,
#currency_id_0,
#cancellation_rule_0,
#rounding_rule_0,
#early_check_in_and_late_checkout_rule_0,
#detailed_description_0,
#date_to_be_displayed_1_0,
#rate_plan_name_1,
#date_to_be_displayed_2_0,
#currency_0,
#rate_plan_id_0,
#room_type_id_0,
#relevant_date_0,
#close_id_0,
#filter_id_0,
#end_date_0,
#checkin_checkout_0,
#payment_methods_0,
#child_age_range_0,
#room_types_0,
#period_of_stay_from_0,
#period_of_stay_to_0,
#discount_is_displayed_from_0,
#discount_is_displayed_to_0,
#zip_code_0,
#number_of_floor_0,
#account_0,
#commission_0,
#check_in_price_0,
#check_out_price_0,
#deposit_0,
#total_0,
#new_payment_method_0,
#rooms_id_0,
#rooms_info_0,
#checkin_time_0,
#checkout_time_0,
#element_name_0,
#datelast_modified_0,
#birthday_0,
#usage_limit_0,
#passport_city_0,
#representative_last_name_0,
#representative_first_name_0,
#representative_middle_name_0,
#representative_birthday_0,
#representative_birthday_city_0,
#representative_series_0,
#representative_number_0,
#representative_issue_date_0,
#representative_expiry_date_0,
#representative_issuing_authority_0,
#location_0,
#representative_document_title_0,
#price_per_room_0,
#price_per_room_2_0,
#nights_0,
#unique_id_0,
#group_unique_id_0,
#tag_0,
#service_and_accommodation_0,
#reference_name_0,
#default_element_0,
#modified_by_user_id_0,
#date_last_modified_0,
#settings_id_0,
#element_date_last_modified_0,
#element_modified_by_user_id_0,
#payment_due_0 {
  display: inline;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid var(--Greys-Grey-5, #ebecf0);
  background: var(--greys-grey-7-bg, #fafbfc);
  height: 28px;
}
.o_dropdown_button {
  display: none;
}
.o_field_selection {
  display: inline-block;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  select {
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="black" stroke-width="2" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    height: 28px;

    &:focus {
      outline: none;
      border-color: #4d90fe;
      box-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
    }

    option {
      font-size: 14px;
      color: #333;
    }
  }
}

// #accommodation_0,
#room_number_0,
#new_room_0,
#booking_id_0,
#check_out_time_0,
#guest_company_id_0,
#service_name_0,
#type_0,
#room_type_0,
#floor_id_0,
// #accommodation_0,
#available_room_ids_0,
#guest_id_1,
#rate_plan_0 {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  height: 28px;
  &:focus {
    border-color: #4d90fe;
    box-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
    outline: none;
  }
}

.o_list_table {
  font-family: Inter;
  font-size: 14px;
  text-align: left;

  thead tr {
    background-color: #dce0e5;
    color: #333;
    text-align: left;
    font-weight: bold;
  }
  th,
  td {
    border: 1px solid #ddd;
  }

  tr {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
  }
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  tbody tr:last-of-type {
    border-bottom: 2px solid gray;
  }
  tbody tr.active-row {
    font-weight: bold;
  }

  a {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}
.o_form_view .o_inner_group {
  gap: 30px;
}
.o_control_panel_main_buttons {
  .o_form_button_create {
    display: none;
  }
}
