@import url(../fonts/index.scss);

.disabled-cell {
  pointer-events: none;
  opacity: 0.6;
  background-color: #f0f0f0;
}

.unique-front-desk {
  color: var(--Main-Dark, #01001a);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.front-statistics {
  width: 100%;
  padding: 20px;

  .statistic-container {
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    padding: 20px;
    box-shadow:
      0px 3px 5px 0px rgba(9, 30, 66, 0.2),
      0px 0px 1px 0px rgba(9, 30, 66, 0.31);

    h2 {
      color: var(--Main-Dark, #01001a);
      font-family: "Inter", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
    }

    .statistics-tables {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      .stats-table {
        flex: 1;
        min-width: 300px;
        border-radius: 4px;
        min-height: 250px;
        gap: 15px;
        padding: 20px;
        border: 1px solid var(--Greys-Grey-5, #ebecf0);

        h3 {
          color: #000;
          font-family: "Inter", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 130%;
        }

        .circle-chart {
          max-width: 80px;
          margin: 0 auto 20px auto;
        }

        .chart-data-div {
          width: 120px;
          height: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .chart-svg {
          position: absolute;
          top: 0;
          left: 0;
        }

        .percentage-span {
          color: #65b66c;
          font-family: "Inter", sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%;
        }

        .stats {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .dynamic-datas {
            display: flex;
            text-align: center;
            align-items: center !important;
            justify-content: space-between;
          }

          hr {
            margin-top: -15px;
            margin-bottom: -2.5px;
            // color: #000;
            // height: 2px;
          }

          p {
            color: var(--Main-Dark, #01001a);
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
          }

          span {
            color: var(--Main-Dark, #01001a);
            padding: 2px 3px;
            border-radius: 2px;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
          }

          .closed {
            background-color: #4fac58;
            color: var(--White-White, #fff);
          }

          .open {
            background-color: #fd952c;
            color: var(--White-White, #fff);
          }

          .total {
            color: var(--White-White, #fff);
            background-color: #395173;
          }
        }
      }
    }
  }
}

.front-table {
  width: 100%;
  padding: 20px;

  .table-container {
    border-radius: 4px;
    padding: 20px;
    background: var(--Main-White, #fff);
    box-shadow:
      0px 3px 5px 0px rgba(9, 30, 66, 0.2),
      0px 0px 1px 0px rgba(9, 30, 66, 0.31);

    .btn-cont {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .header-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;

    .head-btn {
      cursor: pointer;
      padding: 4px 12px;
      border: none;
    }

    .icon-info-btn {
      border: none;
      background: transparent;
      outline: none;
    }

    .primary {
      border-radius: 3px;
      background: var(--Main-Dark-purple, #03008a);
      color: var(--White-White, #fff);
      text-align: center;
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }

    .secondary {
      border-radius: 3px;
      background: var(--Greys-Grey-5, #ebecf0);
      color: var(--Greys-Grey-0, #364662);
      text-align: center;
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }
  }

  hr {
    border-radius: 1px 1px 0px 0px;
    background: var(--Greys-Grey-6, #f4f5f7);
    height: 3px;
  }

  .head-filters {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .head-filters .search-box,
  .head-filters .filter-dropdown // .head-filters .date-picker
  {
    flex: 1;
  }

  .head-filters .search-box {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 5px 10px;
  }

  .head-filters .search-box {
    border-radius: 3px;
    border: 2px solid var(--neutral-light-n-40, #dfe1e6);
    background: var(--neutral-light-n-10, #fafbfc);
    position: relative;

    input {
      outline: none;
      width: 90%;
      height: 100%;
      border: none;
      font-family: "SF Pro Text";
      font-size: 14px;
      padding: 0 8px;

      &::placeholder {
        color: var(--neutral-light-n-100, #7a869a);
        font-family: "SF Pro Text";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }

    span {
      position: absolute;
      right: 8px;
      width: 24px;
      height: 24px;
    }
  }

  .head-filters .search-box button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .head-filters .filter-dropdown {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 5px 10px;
  }

  .head-filters .filter-dropdown select {
    border: 1px solid #fff;
    outline: none;
    flex: 1;
    padding: 5px;
    font-family: "SF Pro Text";
    font-weight: 400;
  }

  .date-picker {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 5px 10px;
  }

  .date-picker input {
    border: none;
    outline: none;
    font-family: "SF Pro Text";
    font-weight: 400;
    flex: 1;
    padding: 5px;
    background: none;
  }

  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  .front-data-table {
    width: 100%;
    display: table;
    border-collapse: collapse;

    .room-type {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-left: none;
      padding-left: 10px;
      text-align: center;
      color: var(--neutral-light-n-800, #172b4d);
      font-family: "SF Pro Text";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
    }

    .room-type-empty {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: start;
      border-left: none;
      padding-left: 10px;
      text-align: center;
      color: var(--neutral-light-n-800, #172b4d);
      font-family: "SF Pro Text";
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }

    .weekend {
      background-color: #f7f7fa;
    }

    .type {
      color: var(--neutral-light-n-200, #6b778c);
      font-family: "SF Pro Text";
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
    }

    .room-number {
      color: var(--neutral-light-n-800, #172b4d);
      font-family: "SF Pro Text";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

    .room-status,
    .room-status-without {
      padding: 0;
      margin: 0;
      width: 60px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #6b778c;
      font-family: "Inter";
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      position: relative;
    }
    .room-status::after {
      content: attr(data-title);
      position: absolute;
      bottom: 90%;
      left: 50%;
      transform: translateX(-50%);
      background-color: black;
      color: white;
      padding: 5px;
      border-radius: 5px;
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
      font-size: 12px;
      z-index: 1000;
    }

    .room-status:hover::after {
      opacity: 1;
      visibility: visible;
    }

    .static {
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: none;
      border-right: none;
    }

    .calendar-header {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 100%;
      padding: 0;
      margin: 0;
      color: #6b778c;
      font-family: "SF Pro Text";
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
    }

    .calendar-cell-data {
      width: 24px;
      height: 24px;
      display: inline-flex;
      padding: 4px;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 4px;
    }

    .booking_tooltips {
      position: relative;
    }

    .booking_tooltips::after {
      content: attr(data-title);
      position: absolute;
      width: 240px;
      bottom: 110%;
      left: 50%;
      transform: translateX(-50%);
      background-color: black;
      color: white;
      padding: 5px;
      text-align: left;
      // border-radius: 5px;
      white-space: pre-wrap;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s opacity 0.7s;
      font-size: 12px;
      font-weight: 300;
      z-index: 1000;
    }

    .booking_tooltips:hover::after {
      opacity: 1;
      visibility: visible;
    }

    .new_booking {
      border-bottom: 1px solid rgba(0, 135, 90, 0.6);
      background: rgba(0, 135, 90, 0.08);
    }

    .do_not_come {
      border-bottom: 1px solid rgba(222, 53, 11, 0.6);
      background: rgba(222, 53, 11, 0.08);
    }

    .checked_in {
      border-bottom: 1px solid rgba(141, 63, 255, 0.6);
      background: rgba(141, 63, 255, 0.08);
    }

    .moved {
      border-bottom: 1px solid rgba(44, 182, 182, 0.6);
      background: rgba(44, 182, 182, 0.08);
    }

    .departured {
      border-bottom: 1px solid rgba(182, 118, 44, 0.6);
      background: rgba(182, 118, 44, 0.08);
    }

    .booking_from_channels {
      border-bottom: 1px solid rgba(164, 210, 36, 0.6);
      background: rgba(164, 210, 36, 0.08);
    }

    .book_without_room {
      border-bottom: 1px solid rgba(236, 214, 10, 0.6);
      background: rgba(236, 214, 10, 0.08);
    }

    .group_booking {
      border-bottom: 1px solid rgba(105, 220, 67, 0.6);
      background: rgba(105, 220, 67, 0.08);
    }

    thead {
      display: table-header-group;

      tr {
        height: 48px;
        display: table-row;
      }

      td {
        display: table-cell;
        padding: 8px;
        text-align: center;
        border: 1px solid #e4e3eb;

        &.static {
          text-align: center;
        }

        &.room-type-data {
          font-weight: bold;
          text-align: left;
        }
      }
    }

    tbody {
      display: table-row-group;

      tr {
        height: 48px;
        display: table-row;
      }

      td {
        display: table-cell;
        padding: 8px;
        text-align: center;
        border: 1px solid #e4e3eb;

        &.empty {
          cursor: pointer;
          text-align: center;
        }

        &.room-status {
          text-align: center;
        }

        &.calendar-cell {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .room-data {
        &.hidden {
          display: none;
        }

        &.visible {
          display: table-row;
        }
      }
    }
  }
}

.abc-scroll {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: 1px solid #e4e3eb;

  &::-webkit-scrollbar {
    display: none;
  }

  .cell {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .date {
      margin-bottom: -10px;
    }
  }
}

.cell-select {
  width: 100%;
  height: 100%;
  border: 2px dashed var(--Main-Purple, #8d3fff);
  background: rgba(141, 63, 255, 0.04);
  border-collapse: collapse;
}

.booking-form {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 6;
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: flex-end;

  .closebtn {
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
  }

  .booking-form-container {
    margin-top: 45px;
    width: 700px;
    min-height: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

    .form-content {
      margin-top: 40px;
      padding: 20px;
      overflow-y: auto;
      flex-grow: 1;

      .form-group {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
          width: 200px;
          font-family: Inter;
        }

        input,
        select {
          width: 450px;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-family: Inter;
        }
      }

      .form-actions {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        button {
          padding: 10px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-family: Inter;

          &.save {
            background-color: #4caf50;
            color: #fff;
          }

          &.cancel {
            background-color: #f44336;
            color: #fff;
          }
        }
      }
    }
  }
}

.room-info {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 6;
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: flex-end;

  .room-info-container {
    width: 400px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    box-shadow: -2px 0 5px #0000001a;
    padding: 0 20px;

    .room-info-header {
      padding: 20px 0;
      border-bottom: 1px solid #e4e3eb;

      button {
        width: 24px;
        height: 24px;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
      }

      h2 {
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        margin: 0;
      }
    }

    .icon-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 10px 0;

      .icon-wrap {
        display: flex;
        align-items: center;
        gap: 15px;

        .icon-bg {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 40px;
          border-bottom: 1px solid #e4e3eb;
          border-left: 1px solid #e4e3eb;

          .calendar-cell-data {
            width: 24px;
            height: 24px;
            display: flex;
            padding: 4px;
            flex-direction: column;
            justify-content: center;
            border-radius: 4px;
          }
        }

        .icon-desc {
          width: 80%;
          display: flex;
          flex-direction: column;
          gap: 4px;

          h5 {
            margin: 0;
            font-family: Inter;
            font-weight: 600;
            font-size: 14px;
          }

          p {
            margin: 0;
            font-size: 12px;
            font-family: Inter;
            font-weight: 400;
          }
        }
      }
    }

    .new_booking {
      border-bottom: 1px solid rgba(0, 135, 90, 0.6);
      background: rgba(0, 135, 90, 0.08);
    }

    .do_not_come {
      border-bottom: 1px solid rgba(222, 53, 11, 0.6);
      background: rgba(222, 53, 11, 0.08);
    }

    .checked_in {
      border-bottom: 1px solid rgba(141, 63, 255, 0.6);
      background: rgba(141, 63, 255, 0.08);
    }

    .moved {
      border-bottom: 1px solid rgba(44, 182, 182, 0.6);
      background: rgba(44, 182, 182, 0.08);
    }

    .departured {
      border-bottom: 1px solid rgba(182, 118, 44, 0.6);
      background: rgba(182, 118, 44, 0.08);
    }

    .booking_from_channels {
      border-bottom: 1px solid rgba(164, 210, 36, 0.6);
      background: rgba(164, 210, 36, 0.08);
    }

    .book_without_room {
      border-bottom: 1px solid rgba(236, 214, 10, 0.6);
      background: rgba(236, 214, 10, 0.08);
    }

    .group_booking {
      border-bottom: 1px solid rgba(105, 220, 67, 0.6);
      background: rgba(105, 220, 67, 0.08);
    }
  }
}

.last-name {
  position: relative;
}

.suggestions-container {
  position: absolute;
  border-radius: 5px;
  top: 45px;
  right: 0px;
  width: 440px;
  background-color: #f0f0f0;
  z-index: 1000;
  min-height: auto;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.suggestion-item {
  padding: 10px;
  height: 40px;
  width: 420px;
  cursor: pointer;
  font-family: Inter;
}

.modal {
  .modal-dialog {
    padding-top: 150px !important;

    .modal-header {
      .modal-title {
        h2 {
          color: var(--Main-Dark, #01001a);
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          /* 120% */
        }
      }
    }

    .modal-body {
      padding: 20px;
      overflow-y: auto !important;
      p {
        font-size: 18px;
        font-family: Inter;
        font-weight: 500;
      }

      .payment-valid {
        width: 100%;
        margin-bottom: 15px;
        height: 50px;
        padding: 5px 10px;
        background-color: rgb(250, 177, 177);
        border: 1px solid red;
        display: flex;
        align-items: center;
        gap: 10px;

        .mark {
          color: red;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          border: 1px solid red;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .user-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 0;
        border-bottom: 1px solid gray;

        .user-info-name {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: flex-start;

          p {
            height: 25px;
            color: var(--Greys-Grey-1, #6b778c);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        .user-info-data {
          width: 50%;
          display: flex;
          justify-content: start;
          flex-direction: column;
          align-items: flex-start;

          p {
            height: 25px;
            color: var(--Main-Dark, #00000070);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }

    .user-footer {
      display: flex;
      padding: 20px 0;
      gap: 10px;

      .modalCloseBtn {
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        color: #fff;
        background-color: #03008a;
      }

      .modalEditBtn {
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        color: #000000;
        background-color: #efc81a;
        font-family: Inter;
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .modalBtns {
        width: 41px;
        height: 41px;
        border: 1px solid #03008a;
        background-color: transparent;
        border-radius: 50%;
        position: relative;
      }

      .modalBtns::after {
        content: attr(data-title);
        position: absolute;
        bottom: 110%;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        color: white;
        padding: 5px;
        border-radius: 5px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;
        font-size: 12px;
        z-index: 1000;
      }

      .modalBtns:hover::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.primaryBtn {
  background-color: #03008a;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
}

.paymentBtn {
  border: 1px solid #03008a;
  color: #03008a;
  border-radius: 5px;
  padding: 10px 15px;
}

.btn-disable {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed !important;
}

.dangerBtn {
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #ff0000;
}

.user-modal {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 6;
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: flex-end;

  .user-container {
    width: 500px;
    min-height: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    box-shadow: -2px 0 5px #0000001a;
    padding: 50px 0 0;

    h5,
    p,
    span {
      margin: 0;
    }

    .user-header {
      border-bottom: 1px solid var(--Greys-Grey-4, #ebecf0);
      background: var(--Greys-Grey-6, #f4f5f7);
      display: flex;
      align-items: center;
      padding: 20px;

      p {
        color: var(--Main-Dark, #01001a);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      }
    }

    .user-body {
      padding: 0 20px;

      .user-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 0;
        border-bottom: 1px solid #ebecf0;

        .user-info-name {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: end;

          p {
            height: 25px;
            color: var(--Greys-Grey-1, #6b778c);
            text-align: right;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
          }
        }

        .user-info-data {
          width: 50%;
          display: flex;
          justify-content: start;
          flex-direction: column;
          align-items: flex-start;

          p {
            // height: 25px;
            margin-bottom: 9px;
            color: var(--Main-Dark, #01001a);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
          }

          .booking-status {
            height: 25px;
          }

          .booking-status-p {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            // background: rgba(0, 135, 90, 0.08);
            padding: 0 3px;
            height: 16px;
            // margin-bottom: 9px;
            // color: var(--Green, #00875a);
            text-align: center;
            font-family: "SF Pro Text";
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: -0.084px;
            text-transform: capitalize;
          }

          .booking-status-warning {
            height: 25px;
          }

          .booking-status-warning-p {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            background: #e91a1a14;
            padding: 0 3px;
            height: 16px;
            margin-bottom: 9px;
            color: var(--Green, #e91a1a);
            text-align: center;
            font-family: "SF Pro Text";
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: -0.084px;
            text-transform: capitalize;
          }
          .new_booking_status {
            color: rgba(0, 135, 90, 0.6);
            background: rgba(0, 135, 90, 0.08);
          }

          .do_not_come_status {
            color: rgba(222, 53, 11, 0.6);
            background: rgba(222, 53, 11, 0.08);
          }

          .checked_in_status {
            color: rgba(141, 63, 255, 0.6);
            background: rgba(141, 63, 255, 0.08);
          }

          .moved_status {
            color: rgba(44, 182, 182, 0.6);
            background: rgba(44, 182, 182, 0.08);
          }

          .departured_status {
            color: rgba(182, 118, 44, 0.6);
            background: rgba(182, 118, 44, 0.08);
          }

          .booking_from_channels_status {
            color: rgba(164, 210, 36, 0.6);
            background: rgba(164, 210, 36, 0.08);
          }

          .book_without_room_status {
            color: rgba(236, 214, 10, 0.6);
            background: rgba(236, 214, 10, 0.08);
          }

          .group_booking_status {
            color: rgba(105, 220, 67, 0.6);
            background: rgba(105, 220, 67, 0.08);
          }

          .number-wrapper {
            display: flex;
            gap: 15px;

            #bookNumber:hover {
              cursor: pointer;
              color: #00875a;
              transition: all ease-in-out 0.3s;
            }

            span {
              cursor: pointer;
            }
          }

          textarea {
            display: inline-flex;
            padding: 8px;
            align-items: flex-start;
            align-content: flex-start;
            gap: 10px;
            flex-wrap: wrap;
            color: var(--Main-Text-Secondary, #7a869a);
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.08px;
            min-height: 45px;
            max-height: 250px;
          }
        }
      }
    }

    .user-footer {
      display: flex;
      padding: 20px;
      gap: 10px;

      .modalCloseBtn {
        font-family: Inter;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        color: #fff;
        background-color: #03008a;
      }

      .modalEditBtn {
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        color: #000000;
        background-color: #efc81a;
        font-family: Inter;
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .modalBtns {
        width: 41px;
        height: 41px;
        border: 1px solid #03008a;
        background-color: transparent;
        border-radius: 50%;
        position: relative;
      }

      .modalBtns::after {
        content: attr(data-title);
        position: absolute;
        bottom: 110%;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        color: white;
        padding: 5px;
        border-radius: 5px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;
        font-size: 12px;
        z-index: 1000;
      }

      .modalBtns:hover::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.frontDeskBeds {
  position: relative;
}

.frontDeskBeds::after {
  content: attr(data-title);
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  font-size: 12px;
  z-index: 1000;
}

.frontDeskBeds:hover::after {
  opacity: 1;
  visibility: visible;
}
