.guest-container {
  width: 100%;
  .guest-navbar {
    // width: 100% !important;
    flex: 1 !important;

    ul {
      //   width: 100%;
      display: flex;
      gap: 10px;
      justify-content: flex-start;
      padding-left: 0;

      .guest-tabs {
        padding: 10px 15px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background: aliceblue;
        border: 1px solid #8d3fff;

        &:active {
          background: #8d3fff;
        }
      }
    }
  }
  .guest-body {
    // width: 100%;
    display: flex;
    gap: 20px;

    .table-content {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 3px;

      .table-wrapper {
        border: 1px solid #ced4da;
      }

      .table-header {
        padding: 10px 100px 10px 10px;
        border-bottom: 1px solid #ced4da;
      }

      .input-table {
        display: flex;
        flex-direction: column;
        padding: 10px 50px 10px 10px;
        gap: 16px;
        .input-content {
          display: flex;
          gap: 10px;

          .table-content-name {
            font-family: Inter;
            font-weight: 400;
            min-width: 170px;
          }
          .right-text {
            width: 280px;
            padding: 4px 8px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 400;
            font-family: Inter;
            border: 1px solid #ced4da;
            transition: border-color 0.3s ease;
            outline: none;

            &:focus {
              border-color: #8d3fff;
            }
          }
          .select-text {
            width: 200px;
            padding: 4px 8px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 400;
            font-family: Inter;
            border: 1px solid #ced4da;
            transition: border-color 0.3s ease;
            outline: none;

            &:focus {
              border-color: #8d3fff;
            }
          }
          .email-wrapper {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .email-add {
              display: flex;
              gap: 10px;

              .delete-btn {
                outline: none;
                background: transparent;
                border-radius: 50%;
                border: 1px solid #8d3fff;
                padding: 4px;
              }
            }
          }

          .gender-input {
            display: flex;
            gap: 10px;

            input {
              outline: none;
            }

            label {
              display: flex;
              font-family: Inter;
              gap: 8px;
            }
          }
          .featured-text {
            color: #8d3fff;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            text-decoration: underline;
            text-decoration-style: dashed;
            text-underline-offset: 3px;
            cursor: pointer;
          }
          .passport-number {
            display: flex;
            align-items: center;
            gap: 16px;

            input:first-child {
              width: 80px;
            }
            input:nth-child(2) {
              width: 150px;
            }
          }
          .issue-comment {
            min-height: 70px;
            width: 320px;
          }
        }
      }
    }
  }
}
