@import url(../fonts/index.scss);

.hk-container {
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease,
    margin 0.5s ease,
    padding 0.5s ease;

  &__block {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 50%;
    box-shadow: 3px 3px 15px -5px rgba(34, 60, 80, 0.6);

    h3 {
      color: #000;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      /* 20.8px */
    }

    &--row {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &--name {
      width: 15%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--Greys-Grey-0, #364662);
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &--container {
      position: relative;
      display: flex;
      flex: 1;
      border-radius: 4px;
      overflow: hidden;
    }

    &--bar {
      position: absolute;
      left: 0;
      top: 0;
      height: 7px;
      border-radius: 4px;
    }

    span {
      font-family: Inter;
    }

    &--bar-1 {
      background-color: #36b37e;
    }

    &--bar-2 {
      background-color: rgb(99, 99, 247);
    }

    &--bar-3 {
      background-color: #42526e;
    }

    &--bar-4 {
      background-color: red;
    }

    &--bar-5 {
      background-color: #ffa500;
    }

    &--bar-6 {
      background-color: #36b37e;
    }

    &--default {
      background-color: #ebecf0;
      flex: 1;
      height: 7px;
    }
  }
}

.hk-container.show {
  max-height: 132px;
  opacity: 1;
  margin: 10px 0 15px;
  padding: 10px;
}

.hk-title {
  padding: 0 15px;

  h2 {
    color: var(--Main-Main-Text, #091e42);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--Greys-Grey-0, #364662);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    cursor: pointer;
  }
}

.hotel-container-main {
  padding: 10px;

  .room-container {
    border-radius: 4px;
    background: var(--Main-White, #fff);
    box-shadow:
      0px 3px 5px 0px rgba(9, 30, 66, 0.2),
      0px 0px 1px 0px rgba(9, 30, 66, 0.31);

    .hk-table {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 12px;
      margin-bottom: 24px;

      .select-wrapper {
        display: flex;
        height: 32px;
        padding: 4px 12px;
        align-items: center;
        gap: 4px;
        border-radius: 3px;
        border: 1px solid var(--Greys-Grey-4, #d9dce1);

        label {
          color: var(--neutral-light-n-500, #42526e);
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: -0.084px;
        }

        .dataf-select {
          color: var(--neutral-light-n-500, #42526e);
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: -0.084px;
          border: none;
        }
      }

      .dataf-select {
        color: var(--neutral-light-n-500, #42526e);
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.084px;
        border: none;
      }

      &__excel-btn {
        height: 32px;
        background-color: #4cce83;
        color: #ffffff;
        padding: 4px 12px;
        display: flex;
        align-items: center;
        gap: 8px;
        outline: none;
        transition: 0.3s background-color ease;
        height: max-content;
        border-radius: 3px;
        font-family: Inter;
      }

      &__excel-btn:hover {
        background-color: #58e994;
      }
    }
  }

  .button-wrapper {
    position: relative;
  }
  .xls-modal {
    background-color: white;
    border-radius: 3px;
    padding: 4px 10px;
    position: absolute;
    top: -40px;
    box-shadow:
      0px 0px 1px 0px rgba(9, 30, 66, 0.31),
      0px 8px 12px 0px rgba(9, 30, 66, 0.15);
    z-index: 10;

    p {
      padding: 0;
      margin: 0;
    }
  }
}
.hk-dttable {
  width: 100%;

  .dtabble-list {
    height: 36px;
    border-radius: 2px;
    background: var(--Greys-Grey-6, #f4f5f7);

    th {
      color: var(--Greys-Grey-0, #364662);
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .ui-sortable {
    .status-need-to-clean {
      color: red;
      background-color: rgba(255, 0, 0, 0.1);
    }

    .status-clean {
      color: #ffa500;
      background-color: rgba(218, 181, 114, 0.1);
    }

    .status-checked {
      color: #36b37e;
      background-color: rgba(54, 179, 126, 0.1);
    }

    .status-out-of-order {
      color: #42526e;
      background-color: rgba(66, 82, 110, 0.1);
    }

    tr {
      position: relative;
    }

    .tdata-background {
      background: rgba(141, 63, 255, 0.06);
    }

    td {
      height: 48px;
      align-self: stretch;
      border-top: 1px solid var(--Greys-Grey-6, #f4f5f7);
      border-bottom: 2px solid var(--Greys-Grey-6, #f4f5f7);

      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: all ease-in-out 0.5s;
    }

    .room-number {
      color: var(--greys-grey-0-neutral, #364662);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .room-status {
      text-align: center;
      font-size: 11px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: -0.084px;
      display: inline-flex;
      padding: 0px 6px 0px 4px;
      align-items: center;
      gap: 8px;
      border-radius: 3px;
    }

    .action-modal {
      right: 60px;
      position: absolute;
      border-radius: 4px;
      background: #fff;
      box-shadow:
        0px 0px 1px 0px rgba(9, 30, 66, 0.31),
        0px 8px 12px 0px rgba(9, 30, 66, 0.15);
      z-index: 10;

      ul {
        display: flex;
        padding: 6px;
        gap: 4px;
        flex-direction: column;

        li {
          display: flex;
          align-items: center;
          gap: 10px;
          color: var(--greys-grey-0-neutral, #364662);
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        button {
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          border: none;
          background-color: transparent;
          transition: all ease-in-out 0.5s;
        }
        .modal-btn1 {
          color: red;
        }
        .modal-btn2 {
          color: #ffa500;
        }
        .modal-btn3 {
          color: #36b37e;
        }

        .modal-btn4 {
          color: #42526e;
        }
      }
    }
  }
}
.fix-container {
  .modal-header {
    h5 {
      font-size: 18px;
      font-weight: 500;
      font-family: Inter;
    }
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .maintenance {
      display: flex;
      gap: 80px;

      p {
        width: 25%;
        font-size: 14px;
        font-family: Inter;
        font-weight: 500;
      }
      .right-side {
        width: 70%;
        display: flex;
        gap: 15px;
        align-items: center;
      }

      input {
        font-size: 14px;
        font-family: Inter;
        font-weight: 400;
        border-radius: 5px;
        padding: 2px 8px;
        border: 1px solid #ccc;
        transition:
          border-color 0.3s,
          box-shadow 0.3s;
      }

      input:focus {
        border-color: #0066cc;
        box-shadow: 0 0 8px rgba(0, 102, 204, 0.5);
        outline: none;
      }
      input:hover {
        border-color: #999;
      }

      textarea {
        font-size: 14px;
        font-weight: 400;
        font-family: Inter;
        border-radius: 5px;
        padding: 10px 10px;
        border: 1px solid #ccc;
        transition:
          border-color 0.3s,
          box-shadow 0.3s;
      }

      textarea:focus {
        border-color: #0066cc;
        box-shadow: 0 0 8px rgba(0, 102, 204, 0.5);
        outline: none;
      }
      textarea:hover {
        border-color: #999;
      }

      #maintenance-type {
        height: 32px;
      }

      #maintenance-desc {
        min-height: 32px;
        max-height: 200px;
      }

      #maintenance-dateIn,
      #maintenance-dateOut,
      #maintenance-timeIn,
      #maintenance-timeOut {
        height: 32px;
        border-radius: 5px;
      }
    }
  }
  .modal-footer {
    .action-buttons {
      display: flex;
      gap: 15px;

      button {
        border-radius: 5px;
        padding: 4px 10px;
        border: 1px solid #ccc;
        transition:
          border-color 0.3s,
          box-shadow 0.3s;
        transition: all ease-in-out 0.3s;
      }
    }
  }
}
