.o_form_sheet lable {
  font-family: Inter !important;
}

.o_notebook_headers ul li a {
  font-family: Inter !important;
}

.rate-plan__tab li a h4 {
  font-family: Inter !important;
}

.tab-pane {
  font-family: Inter !important;
  .d-flex h3 {
    font-family: Inter !important;
  }
}

.table_cont {
  position: relative;
  font-family: Inter;

  .table_responsive {
    overflow-x: auto;
    /* Enables horizontal scrolling on smaller screens */
    width: 100%;
    margin: 0 auto;
    /* Centering the table if needed */
    position: relative;

    .table {
      table-layout: fixed;
      border-collapse: collapse;
      background-color: #fff;

      .sticky-header {
        position: sticky;
        left: 0;
        background-color: #fff;
        z-index: 3;
        border-left: 1px solid #eff2f5;
        padding-left: 5px;
        text-align: left;
      }

      .sticky-column {
        position: sticky;
        left: 0;
        background-color: #fff;
        z-index: 3;
        border-left: 1px solid #eff2f5;
        font-size: 12px;
      }

      th,
      td {
        width: 40px;
        /* Set a fixed width */
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: #fff;
        font-size: 12px;
      }

      td {
        padding: 0;
        -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+/Edge */
        user-select: none;
        /* Standard */
        padding-bottom: 10px;
        border: 1px solid #eff2f5;

        &:first-child {
          font-weight: bold;
          padding: 5px;
        }
      }

      th {
        padding: 0;
        padding-bottom: 5px;
        text-align: center;
      }

      th:first-child,
      td:first-child {
        width: 100px !important;
        /* Set a wider width for the first column */
      }

      .past-date {
        background-color: #f7f7fa;
        font-weight: bold;
        span {
          color: #6b778c;
        }
      }

      .future-date {
        background-color: #ffffff;
        font-weight: bold;
        span {
          color: #6b778c;
        }
      }

      .day-cell {
        text-align: center;
        height: 50px;
        border: 1px solid #eff2f5;
      }

      .price-cell {
        text-align: center;
        height: 50px;
        width: 60px !important;
        border: 1px solid #eff2f5;
        span {
          color: #6b778c;
        }
      }

      .hidden-cell {
        display: none;
      }

      .empty-cell {
        background-color: #dfe4ec;
        border: none;
      }

      .selected-cell {
        background-color: #c7daf0;
        border: 1px solid #007bff !important;
      }

      .selected {
        position: relative;
        background: rgba(141, 63, 255, 0.04);
      }

      .selected::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px dashed var(--Main-Purple, #8d3fff);
        z-index: 1;
        pointer-events: none;
        /* Prevent the pseudo-element from capturing mouse events */
        animation: dash 2s linear infinite;
      }

      @keyframes dash {
        to {
          stroke-dashoffset: -1000;
        }
      }

      .default-status {
        font-size: 10px;
        font-weight: bold;
        display: block;
        color: #7d8fa8;
        margin-bottom: 5px;
        padding-bottom: 10px;
      }

      .close-status {
        color: #b75a61;
        font-weight: bold;
        display: block;
        background-color: #b75a6256;
        margin-bottom: 5px;
        padding-bottom: 10px;
      }

      .open-status {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
        padding-bottom: 10px;
      }

      .custom-danger {
        color: #b75a61;
      }

      .custom-primary {
        color: #8797af;
      }

      .custom-empty {
        font-family: Inter;
        color: #8797af;
      }

      .custom-empty-payment {
        color: #8797af;
        font-family: Inter;
        padding: 3px 5px;
        border: 1px solid #8797af;
        border-radius: 50%;
      }
    }
  }

  .action_btns {
    position: absolute;
    right: -23px;
    top: 60px;
    display: flex;
    flex-direction: column;
    z-index: 4;

    span {
      color: #fff;
      background-color: #4d6281;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #222e3f;
      }
    }
  }

  .action_btnss {
    position: fixed;
    /* Fixed positioning to stay in place regardless of scroll */
    right: 34px;
    top: 50%;
    /* Center vertically */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 4;

    span {
      color: #fff;
      background-color: #4d6281;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #222e3f;
      }
    }
  }
}

.table_content {
  position: relative;
  font-family: Inter;

  .table_responsive {
    overflow-x: auto;
    /* Enables horizontal scrolling on smaller screens */
    width: 100%;
    margin: 0 auto;
    /* Centering the table if needed */
    position: relative;
    border: 1px solid #eff2f5;

    .table {
      table-layout: fixed;
      border-collapse: collapse;
      background-color: #dfe4ec;

      .sticky-header {
        position: sticky;
        left: 0;
        background-color: #fff;
        z-index: 3;
        border-left: 1px solid #eff2f5;
        padding-left: 5px;
        text-align: left;
      }

      .sticky-column {
        position: sticky;
        left: 0;
        background-color: #fff;
        z-index: 3;
        border-left: 1px solid #eff2f5;
        font-size: 12px;
      }

      th,
      td {
        width: 65px;
        /* Set a fixed width */
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: #fff;
        font-size: 12px;
      }

      td {
        padding: 0;
        -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+/Edge */
        user-select: none;
        /* Standard */
        padding-bottom: 10px;
        border: 1px solid #eff2f5;

        &:first-child {
          // font-weight: bold;
          color: #3a4d66;
          padding: 5px;
        }
      }

      th {
        padding: 0;
        padding-bottom: 5px;
        text-align: center;
      }

      th:first-child,
      td:first-child {
        width: 100px !important;
        /* Set a wider width for the first column */
      }

      .past-date {
        background-color: #f7f7fa;

        font-weight: bold;
        span {
          color: #6b778c;
        }
      }

      .future-date {
        background-color: #ffffff;
        font-weight: bold;
        span {
          color: #6b778c;
        }
      }

      .day-cell {
        text-align: center;
        height: 50px;
        border: 1px solid #eff2f5;
      }

      .price-cell {
        text-align: center;
        height: 50px;
        width: 60px !important;
        border: 1px solid #eff2f5;
        span {
          color: #6b778c;
        }
      }

      .hidden-cell {
        display: none;
      }

      .empty-cell {
        background-color: #dfe4ec;
        border: none;
      }

      .selected-cell {
        background-color: #c7daf0;
      }

      .selected {
        position: relative;
        background: #8d3fff0a;
      }

      .selected::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px dashed var(--Main-Purple, #8d3fff);
        z-index: 1;
        pointer-events: none;
        /* Prevent the pseudo-element from capturing mouse events */
        animation: dash 2s linear infinite;
      }

      @keyframes dash {
        to {
          stroke-dashoffset: -1000;
        }
      }

      .default-status {
        font-size: 10px;
        font-weight: bold;
        display: block;
        color: #7d8fa8;
        margin-bottom: 5px;
        padding-bottom: 10px;
      }

      .close-status {
        color: #b75a61;
        font-weight: bold;
        display: block;
        background-color: #b75a6256;
        margin-bottom: 5px;
        padding-bottom: 10px;
      }

      .open-status {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
        padding-bottom: 10px;
      }

      .custom-danger {
        color: #b75a61;
      }

      .custom-primary {
        color: #8797af;
      }

      .custom-empty {
        color: #8797af;
      }
    }
  }

  .action_btns {
    position: absolute;
    right: -23px;
    top: 60px;
    display: flex;
    flex-direction: column;
    z-index: 4;

    span {
      color: #fff;
      background-color: #4d6281;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #222e3f;
      }
    }
  }

  .action_btnss {
    position: fixed;
    /* Fixed positioning to stay in place regardless of scroll */
    right: 34px;
    top: 50%;
    /* Center vertically */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 4;

    span {
      color: #fff;
      background-color: #4d6281;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #222e3f;
      }
    }
  }
}

.tab {
  font-family: Inter;
  background-color: #d7dce3;
  padding: 15px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;

  .nav-item {
    border: 1px solid #fff;
    position: relative;
    list-style: none;
    background-color: #ffffff;
    border-radius: 5px;

    &:hover,
    &:active {
      border-color: #512da8;
    }

    &.active {
      border-color: #512da8;
      /* Add border color for active state */
      color: #512da8;
      /* Optional: Change text color for active state */
      background-color: #ede7f6;
    }

    .nav-link {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;
      /* Adjust as needed */
      box-sizing: border-box;
      padding: 10px;

      &.active {
        color: #512da8;
        /* Optional: Change text color for active state */
        background-color: #ede7f6;
      }
    }

    h4 {
      color: #512da8;
      font-weight: bold;
      font-size: 14px;
    }

    h6 {
      font-size: 12px;
    }
  }
}

.month-selector {
  font-family: Inter;
  display: flex;
  overflow-x: auto;
  width: 100%;
  background-color: #fff;
  border-color: 1px solid #8797af54 !important;

  .month-year {
    background-color: #fff;
    border: 1px solid #8797af54;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      background-color: #fff;
      color: #6b778c;
    }

    &.active {
      background-color: #f7f7fa;
      border-top: 1px solid #8797af54;
      color: #000;
    }

    &.active:hover {
      background-color: #f7f7fa;
      color: #6b778c;
      /* Ensure text is visible on hover */
    }
  }
}

.year-navigation {
  font-family: Inter;
  display: flex;
  /* border: 1px solid #5735ab; */
  border-radius: 10px;
  width: fit-content;

  .year-number {
    border: 1px solid #e4e3eb;
    color: #6b778c;
    background-color: #fff;
    padding: 5px 10px;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &.active {
      background-color: #f7f7fa;
    }
  }
}

/* legend styles  */
.legend {
  font-family: Inter;
  border: 1px solid #6b778c;
  color: #6b778c;
  border-radius: 20px;
  padding: 6px 8px;
  cursor: pointer;

  &__items {
    width: 500px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #fff;
  }
}

.overlay {
  font-family: Inter;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.legend__items {
  font-family: Inter !important;
  position: fixed;
  right: -400px;
  top: 0;
  height: 100%;
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
}

.legend__items.show {
  font-family: Inter;
  right: 0;
}

.legend__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #424242;

  h4 {
    color: #424242;
    font-family: Inter !important;
    font-size: 18px;
    font-weight: normal;
  }
}

.legend__main {
  font-family: Inter;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h3 {
    font-family: Inter !important;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
  }

  span {
    font-family: Inter !important;
    font-size: 12px;
    line-height: 16px;
  }
}

.close_card {
  // display: flex;
  // align-items: center;
  // gap: 5px;
  border: 1px solid;
  font-family: Inter;
  border-top-color: #8897ab;
  border-bottom-color: #8897ab;
  border-left-color: #c4cbd5;
  border-right-color: #c4cbd5;
  text-align: center;

  .month {
    background: #f8b3b3;
    color: #d00000;
    font-weight: 700;
    display: block;
    width: 40px;
    height: 32px;
    font-size: 10px;
    text-align: center;
  }

  .month-primary {
    color: #75869d;
    background-color: transparent;
  }

  .icon {
    width: 40px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom-danger {
    color: #d00000;
  }
}

.rhombus {
  font-family: Inter;
  width: 10px;
  height: 10px;
  background-color: transparent;
  background-color: #99821c;
  transform: rotate(45deg);
  margin: auto;
}

.place_loader {
  font-family: Inter;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  &.active {
    display: flex;
  }
}

/* HTML: <div class="loader"></div> */
/* loader styles  */
.loader {
  font-family: Inter;
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  mask: conic-gradient(from 15deg, #0000, #000);
  animation: l26 1s infinite steps(12);
}

.loader,
.loader:before,
.loader:after {
  background:
    radial-gradient(closest-side at 50% 12.5%, #f03355 96%, #0000) 50% 0/20% 80%
      repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #f03355 96%, #0000) 0 50%/80% 20%
      repeat-x;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}

.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {
    transform: rotate(1turn);
  }
}

.modal {
  font-family: Inter;

  &-dialog {
    // width: 400px;
    // max-width: 400px;
    height: fit-content;
  }

  &-title {
    font-family: "Default Main", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
  }

  &-body {
    overflow: unset !important;
  }

  .form_over {
    // height: 400px;
    max-height: 400px;
    overflow: auto;
  }

  .rate-form {
    select {
      width: 120px !important;
    }

    input {
      font-family: "Default Main", Helvetica, Arial, sans-serif !important;
      font-size: 14px !important;
      overflow: hidden !important;
      width: 158px !important;
      height: 30px !important;
      text-align: right !important;
      padding: 5px 12px !important;
      border: 1px solid rgba(176, 185, 199, 1) !important;
      border-radius: 5px !important;
    }
  }
}

.two {
  font-family: Inter;
  width: 24px;
  height: 20px;
  border: 1px solid #9ca8b9;
  border-radius: 10px;
  padding: 1px;
  font-size: 12px;
  color: #75869d;
}

.fullLos {
  font-family: Inter;
  color: #8797af;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #8797af;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

// new styles
.rate-plan__tab {
  font-family: Inter;
  padding: 24px 20px;
  background-color: #ffffff;
  box-shadow: 0px 3px 5px 0px #091e4233;
  border-radius: 4px;

  &--item {
    display: flex;
    border-radius: 3px !important;
    padding: 4px 8px 4px 8px !important;
    margin: 0 !important;
    border: none !important;

    a {
      cursor: pointer;
    }
  }

  &--item:hover,
  &--item:active {
    color: #8d3fff;
    padding: 4px 8px 4px 8px !important;
  }

  &--item.active {
    border: none;
    color: #8d3fff;
    background-color: #ede0ff;

    .rate-plan__tab--text {
      color: #8d3fff;
    }
  }

  &--text {
    margin-bottom: 0;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    color: #364662;
  }
}

.checkedMethods {
  font-family: Inter;
  min-height: 35px;
  padding: 3px 5px;
  min-width: 250px;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  .checkedMethodsName {
    padding: 2px 5px;
    font-size: 12px;
    width: fit-content;
    display: flex;
    gap: 10px;
    background-color: #dfe4ec;
  }
}

.payment-methods-container {
  font-family: Inter;
  padding: 10px;
  z-index: 10;
  position: absolute;
  left: 10px;
  width: 600px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;

  .clear {
    cursor: pointer;
    color: blue;
    font-size: 12px;
    text-decoration: underline;
  }

  .method {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: start !important;

    input {
      width: 20px !important;
      height: 20px !important;
    }

    label {
      width: fit-content;
      font-family: Inter;
      font-size: 12px;
    }
  }
}
